@model UMS.Web.ViewModels.Resources.ResourceGetAllViewModel;
@{
    this.ViewData["Title"] = "All Resources, page " + Model.PageNumber;
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>}

<h1>@this.ViewData["Title"]</h1>

<div class="row">
    @foreach (var resource in this.Model.Resources)
    {
        @resource.Name @:&nbsp;
        @resource.ResourceType @:&nbsp;
        <br />
    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />