@model UMS.Web.ViewModels.MajorDetailsViewModel
@{
    this.ViewData["Title"] = "Details for Major";
}

<h1>@this.ViewData["Title"]</h1>

<div>
    <p style="white-space: pre-line"><b>Major name: </b>@Model.Name</p>
    <p style="white-space: pre-line"><b>Major description: </b>@Model.Description</p>
    <p style="white-space: pre-line"><b>Major type: </b>@Model.MajorType</p>
    <p style="white-space: pre-line"><b>Major duration: </b>@Model.Duration years</p>
    <p style="white-space: pre-line"><b>Department: </b>@Model.BelongsToDepartment</p>
</div>